*{
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #dfe6e9;
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgb(51, 48, 48);
    
}

h1{
    font-size: 1.5rem;
    margin-top: 20px;
    color: black;
}

h2{
    margin-top: 10px;
    text-align: left;
    margin-left: 530px;
}
h3{
    text-align: left;
    margin-left: 530px;
    font-size: 3rem;
}

.IncomeExpense{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    /* background-color: white; */
    /* margin: 10px; */
}
.income , .expense {
    background-color: white;
    padding: 15px 40px;
    font-size: 1.2rem;
    box-shadow: 5px 5px 5px gray;
}
.incomeAmount, .expenseAmount {
    font-size: 1rem;
    background-color: white;
    color: rgba(51, 48, 48,0.6);
    margin-top: 5px;
}

.income p, .expense p {
    background-color: white;
}
hr{
    width: 23%;
    margin: 10px auto;
}
.TraList{
    width: 305px;
    text-align: left;
    margin: 15px auto;
    margin-left: 530px;
    list-style: none;
    padding: 5px 10px;
    background-color: white;
    /* border-radius: 5px; */

}
.TraList button {
    float: right;
    cursor: pointer;
    background-color: aqua;
    padding: 4px;
    margin-left: 10px;
    margin-right: -10px;
    margin-top: -5px;
}
.TraList span{
float: right;
background-color: white;
}

h4{
    margin-left: 530px;
    text-align: left;
    margin-top: 20px;
    color: black;
}

.AddPara{
    text-align: left;
    margin-left: 535px;
    margin-top: 20px;
    font-weight: 550;
    color: rgba(51, 48, 48,0.8);

}
input{
    padding: 5px 10px;
    text-align: left;
    margin-top: 1px;
    width: 300px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
}
.example{
    font-size: 0.9rem;
    color: rgba(51, 48, 48,0.8);
    font-weight: 550;

}
.addBtn{
    width: 300px;
    display: block;
    margin: 10px auto;
    padding: 7px 0;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}